  video{
     position:fixed;
     z-index: 500500500;
  }
  
  .videoElement {
    right: 30px;
    top: 70px;
    width: 220px;
    height: auto;
   
   }


  .left-bottom{
    top: 80vh;
    left: 5vw;
  }